#cloud-config

# vim: syntax=yaml

#

# ***********************

# 	---- for more examples look at: ------

# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html

# ******************************

#

# This is the configuration syntax that the write_files module

# will know how to understand. encoding can be given b64 or gzip or (gz+b64).

# The content will be decoded accordingly and then written to the path that is

# provided.

#

# Note: Content strings here are truncated for example purposes.

ssh_pwauth: True

chpasswd:

  list: |

     root:sesamo

  expire: False



users:

  - name: thaliaanez # Change me (nombre del dominio sin .com)

    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCv8k4DLMyzp3KF/38lZkqsDRql4efEDbGxFMdKTUN1qTgbozP10I4Omw2roX9C5eFsNPe6ovAj9zW0ODrMa2Z/7aLzFJ8OqkeCNl8rVKpmYgUHM4k4AjoWLJpvfL8QAHOe/1trTWOeK+H7JkAbrePs8sJQJBiG2w0XsruQcSugCZnOMioyeSHc8xwIwa97X8/2+XdS5Vt6bncdnh6DMuajrhL5kPD3SNH9yQMzIOjmXZfbKlWgq13rAbver7XnsJ6GadyI284wWaiAjrogwXOCgN54bKKklZxRJpSX5MUJH0rQPmMXJ5PvWxJHPr8o4p1qjXkk/HphdDG6rVVZ2JEX thaliaanez@thalia-Virtual-Machine
     
    sudo: ['ALL=(ALL) NOPASSWD:ALL']

    shell: /bin/bash

    groups: sudo

    lock_passwd: false
